// Reset
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
// Font Awesome
script(src="https://use.fontawesome.com/8ae9391f22.js")
// Animate CSS
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css")
// Custom Styles
link(rel="stylesheet" href="../styles/main.css")
